<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="background: #f47920; width: 80%; padding: 30px">
      <img src='cid:logo'/>
    </div>

    <div style="width: 80%; padding: 30px">
      <h2>
        Estimado/a, {{patientFullname}}, por medio de la presente proporcionamos el
        link de descarga de los resultados de exámenes ocupacionales realizados
        a usted.
      </h2>
      <p>
        <a
          href="http://173.82.153.123/omegasalud/resultados/pages/descargar.php?uid=' . $uid . '"
          >DESCARGAR</a
        >
      </p>
    </div>
  </body>
</html>
